<div nz-row class="rowHeader">
  <div class="instagramTitle" nz-col nzSpan="6">
    <h2 class="rowHeaderTitle" nz-typography> Instagram</h2>
  </div>
  <div class="buttonsPanel" nz-col nzSpan="11" nzOffset="4">
    <button class="buttonStyle" nz-button nzType="primary" nzSize="large" (click)="toDashBoard()"><i nz-icon nzType="home"></i>Dashboard</button>
    <button class="buttonStyle" nz-button nzType="primary" nzSize="large" (click)="toNewPost()"><i nz-icon nzType="plus-circle"></i>New post</button>
    <button class="buttonStyle" nz-button nzType="primary" nzSize="large" (click)="toListOfPublications()"><i nz-icon nzType="pic-center"></i>List of publications</button>
  </div>
</div>
