<!-- Menu -->
<app-menu></app-menu>

<div class="content">
  <!-- Titre des parties -->
  <div nz-row nzJustify="center" nzAlign="top" class="rowTitle">
    <div class="titleContent" nz-col nzSpan="8" nzOffset="0">
      <div nz-row>
        <div nz-col nzSpan="5" nzOffset="0">
          <div class="Linkedin-media-loaded"></div>
        </div>
      </div>
    </div>
    <div class="titleContent" nz-col nzSpan="15">
      <div style="width:100%" nz-row>
        <nz-col [nzSpan]="24">
          <div class="description">
            <nz-descriptions style="width: 100%;" nzTitle="Informations" nzBordered nzLayout="vertical" nzSize="small">
              <nz-descriptions-item [nzSpan]="2" nzTitle="Title">Cloud Database</nz-descriptions-item>
              <nz-descriptions-item [nzSpan]="2" nzTitle="Caption">"Cloud Database"</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Status">PUBLISHED</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Author">Alexandre Delahousse <br /> 2018-04-24 18:00:00</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Last update">
                Alexandre Delahousse <br /> 2018-04-24 18:00:00
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </nz-col>
        <nz-divider></nz-divider>
        <nz-col [nzSpan]="12">
          <div class="description">
            <nz-descriptions style="width: 100%;" nzTitle="Statistics" nzBordered nzLayout="vertical" nzSize="small">
              <nz-descriptions-item nzTitle="Like count">15</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Comments count">15</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Engagement">15</nz-descriptions-item>
              <nz-descriptions-item nzTitle="impressions">15</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Reach"> 15 </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Saved"> 15 </nz-descriptions-item>
            </nz-descriptions>
            </div>
        </nz-col>
        <nz-col [nzSpan]="11" nzOffset="1">
          <h3><b>Comments</b></h3>
          <app-comments></app-comments>
        </nz-col>
      </div>
    </div>
  </div>
</div>

