<div class="inner-content">

    <div class="rowLine"></div>
  
    <div nz-row class="rowHeader">
      <div nz-col nzSpan="3" nzOffset="21" >
        <h2 nz-typography class="rowHeaderTitle">Dashboard</h2>
      </div>
    </div>

    <div nz-row>
        <h1 class="rowTitleText" nz-typography>Bienvenue</h1>
    </div>

    <div nz-row>
        <div nz-col nzSpan="16" nzOffset="0">

            <div class="section" nz-row>
                <div nz-col nzSpan="24" nzOffset="0">

                    <div nz-row class="rowTitle">
                        <div nz-col nzSpan="24" nzOffset="0">
                            <h3 nz-typography><i nz-icon nzType="instagram" nzTheme="fill"></i> Instagram</h3>
                        </div>
                    </div>

                    <div nz-row>
                        <div nz-col nzSpan="22">
                            
                            <div class="stats-container">

                                <div class="stats-section">
                                    <p>{{followerCount}}</p>
                                    <span>Followers</span>
                                </div>

                                <div class="stats-section">
                                    <p>{{impressions}}</p>
                                    <span>Impressions</span>
                                </div>

                                <div class="stats-section">
                                    <p>{{reach}}</p>
                                    <span>Reachs</span>
                                </div>

                                <div class="stats-section">
                                    <p>{{website}}</p>
                                    <span class="stats-section-small-text">Website clicks</span>
                                </div>

                                <div class="stats-section">
                                    <p>{{email}}</p>
                                    <span class="stats-section-small-text">Email contacts</span>
                                </div>

                            </div>

                        </div>
        
                        <div nz-col nzSpan="2">
                            <button nz-button nzType="primary" class="open_btn" (click)="onClickOpenInsta()" >></button>
                        </div>
                    </div>

                </div>
            </div>



            <div class="section" nz-row>
                <div nz-col nzSpan="24" nzOffset="0">

                    <div nz-row class="rowTitle">
                        <div nz-col nzSpan="24" nzOffset="0">
                            <h3 nz-typography><i nz-icon nzType="facebook" nzTheme="fill"></i> Facebook</h3>
                        </div>
                    </div>

                    <div nz-row>
                        <div nz-col nzSpan="22">
                            
                            <div class="stats-container">

                                <div class="stats-section">
                                    <p>N/A</p>
                                    <span>Abonnées</span>
                                </div>

                                <div class="stats-section">
                                    <p>N/A</p>
                                    <span>Visites</span>
                                </div>

                                <div class="stats-section">
                                    <p>N/A</p>
                                    <span>Publications</span>
                                </div>

                            </div>

                        </div>
        
                        <div nz-col nzSpan="2">
                            <button nz-button nzType="primary" class="open_btn" (click)="onClickOpenFacebook()">></button>
                        </div>
                    </div>

                </div>
            </div>



            <div class="section" nz-row>
                <div nz-col nzSpan="24" nzOffset="0">

                    <div nz-row class="rowTitle">
                        <h3 nz-typography class="rowTitleText"><i nz-icon nzType="linkedin" nzTheme="fill"></i> Linkedin</h3>
                    </div>

                    <div nz-row>
                        <div nz-col nzSpan="22">
                            
                            <div class="stats-container">

                                <div class="stats-section">
                                    <p>N/A</p>
                                    <span>Abonnées</span>
                                </div>

                                <div class="stats-section">
                                    <p>N/A</p>
                                    <span>Réseau</span>
                                </div>

                                <div class="stats-section">
                                    <p>N/A</p>
                                    <span>Visites</span>
                                </div>

                                <div class="stats-section">
                                    <p>N/A</p>
                                    <span>Contact</span>
                                </div>

                            </div>

                        </div>
        
                        <div nz-col nzSpan="2">
                            <button nz-button nzType="primary" class="open_btn" (click)="onClickOpenLinkedin()">></button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="section" nz-col nzSpan="7" nzOffset="1">

            <div nz-row class="rowTitle">
                <h3 nz-typography class="rowTitleText">Emailing</h3>
            </div>

            <div nz-row>
                <div nz-col nzSpan="24">
                    
                </div>
            </div>

        </div>

    </div>

</div>